.post {
    padding-top: 25px;

    &-title {
        color: $grey1;
        text-align: left;
        margin-bottom: 1.5rem;
    }

    &-meta {
        padding: 0;
        margin: 15px 0 0;
        color: #6E7173;
        text-indent: .15em;
        font-family: $pingFang;

        svg {
            margin-top: -2px;
        }
    }

    &-content {
        margin-top: 15px;
        line-height: 1.77;
        color: $grey0;

        h1, h2, h3, h4, h5, h6 {
            font-family: $pingFang;
        }

        h1 {
            margin: .67em 0;
        }

        h2 {
            margin: 1.4em 0 1.1em;
            border-bottom: 1px solid #eee;
            overflow: hidden;
        }

        h3 {
            margin: 1.4em 0 0.5em;
        }

        blockquote {
            border-left: 10px solid $grey3;
            margin-left: 1rem;
            padding-left: 1rem;
        }

        p {
            padding: 0;

            img {
                width: 100%;
            }
        }

        pre {
            border-left: 5px solid #06b6ef;
        }

        :not(pre) > code[class*="language-"] {
            padding: .1em 0.5em;
        }

        :not(pre) > code[class*="language-"], pre[class*="language-"] {
            color: #06b6ef;
        }

        ul, ol {
            font-size: 15px;
            border-radius: 3px;
            margin: 1em 0;
            font-family: $pingFang;
        }
    }

    &-tags {
        margin: 2rem 0;
        font-family: $pingFang;

        a {
            margin-right: .5em;
        }
    }
}
