footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    color: #6E7173;
    font-family: $pingFang;

    a {
        color: #6E7173;
        text-decoration: none;

        &:hover {
            color: $grey0;
        }
    }

}
