@import 'colours';
@import 'fonts';

#header {
    padding: 58px 0 40px 0;
    text-align: left;
    border-bottom: 1px solid $grey3;
    position: relative;

    .link {
        font-size: 38px;
        font-weight: bold;
        color: $grey1;
        text-decoration: none;
    }

    p {
        margin: .5em 0 0;
        color: $grey2;
        font-family: $paragraph;
    }
}