@import 'colours';
@import 'page';
@import 'layout';
@import 'header';
@import 'form';
@import 'sideBar';
@import 'footer';
@import 'fonts';
@import 'typography';
@import 'card';
@import 'pagination';
@import 'blog';
@import 'tags';
@import 'media';
@import 'search';

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    margin: 0;
}

div {
    box-sizing: border-box;
}
