@import 'colours';
@import 'layout';
@import 'header';
@import 'fonts';
@import 'card';

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    margin: 0;
}

div {
    box-sizing: border-box;
}