.body-container {
    padding: 0 60px;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
    text-rendering: optimizespeed;

    & > main {
        display: flex;

        & > section {
            padding-right: 50px;
            padding-top: 20px;

            @media screen and (min-width: 48em) {
                width: 75%;
            }
        }

        & > aside {
            @media screen and (min-width: 48em) {
                width: 25%;
            }
        }
    }

}