@import 'media';

.body-container {
    padding: 0 60px;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
    text-rendering: optimizespeed;

    @media screen and (max-width: $mobile) {
        padding: 0 20px;
    }

    & > main {
        display: flex;

        & > section {
            padding-top: 20px;

            @media screen and (max-width: $tablet) {
                width: 100%;
            }

            @media screen and (min-width: $tablet) {
                width: 75%;
                padding-right: 50px;
            }
        }

        & > aside {
            @media screen and (max-width: $tablet) {
                display: none;
            }

            @media screen and (min-width: $tablet) {
                width: 25%;
                min-width: 11rem;
            }
        }
    }

}
