#search {
    .ais-SearchBox {
        input {
            width: 100%;
            font-size: 1.2rem;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            padding: 0.5rem;
        }

        button {
            display: none;
        }
    }

    .ais-Hits {
        ul {
            list-style: none;
            padding: 0;

            h3 {
                display: flex;
                align-items: baseline;
                font-family: $pingFang;

                svg {
                    position: relative;
                    top: 2px;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .algolia-icon {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0.5rem;
    }
}
