#side-bar {
    border-left: 1px solid $grey3;
    margin-top: 40px;
    padding: 20px 0 10px 35px;
    word-wrap: break-word;
    section {
        margin-bottom: 20px;

        .title {
            font-family: $pingFang;
            color: #6E7173;
            line-height: 2.7;
            margin-top: 0;
            font-size: 16px;
            border-bottom: 1px solid #ddd;
            display: block;
            font-weight: normal;
        }

        .content {
            margin-top: 10px;

            a {
                display: block;
                word-break: break-word;
                font-size: 15px;
                line-height: 1.5;
                padding: 5px;
            }
        }

        svg {
            vertical-align: middle;
            margin-top: -4px;
        }

        &.tags {
            a {
                padding: 2px 0.5rem;
            }
        }
    }
}
